# R
*.Rproj
.Rproj.user/
.Rhistory
.Rapp.history
.RData
.Ruserdata

# Data files (add your patterns)
*.csv
*.rds
*.xlsx

# Large files
*.zip
*.tar.gz

# Directories to ignore
cleanData/
downloads/
outDir/
rawData/
old_outDir

# old files from Joe that I don't want to track
joe_files/

# large reference files
ref/
